*.pyc
*.pem
*.crt
*.key
.cipd_client
.cipd_client_cache/
.versions/
# We add the production public keys to source control.
!production/google-dot-com-fuchsia-cobalt-us-central1-b/analyzer_public.pem
!production/google-dot-com-fuchsia-cobalt-us-central1-b/shuffler_public.pem
!production/fuchsia-cobalt-us-central1-c/analyzer_public.pem
!production/fuchsia-cobalt-us-central1-c/shuffler_public.pem
personal_cluster.json
*bt_admin_service_account.json
personal*
/out/
/sysroot/
