[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://fuchsia.googlesource.com/third_party/boringssl
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://fuchsia.googlesource.com/third_party/googletest/
[submodule "third_party/go/src/github.com/golang/protobuf"]
	path = third_party/go/src/github.com/golang/protobuf
	url = https://fuchsia.googlesource.com/third_party/golang/protobuf/
[submodule "third_party/go/src/golang.org/x/net"]
	path = third_party/go/src/golang.org/x/net
	url = https://fuchsia.googlesource.com/third_party/golang/net
[submodule "third_party/go/src/google.golang.org/grpc"]
	path = third_party/go/src/google.golang.org/grpc
	url = https://fuchsia.googlesource.com/third_party/grpc/grpc-go
[submodule "third_party/go/src/github.com/golang/glog"]
	path = third_party/go/src/github.com/golang/glog
	url = https://fuchsia.googlesource.com/third_party/golang/glog
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://fuchsia.googlesource.com/third_party/gflags
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://fuchsia.googlesource.com/third_party/glog
