[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://fuchsia.googlesource.com/third_party/boringssl
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://fuchsia.googlesource.com/third_party/googletest/
[submodule "third_party/go/src/github.com/golang/protobuf"]
	path = third_party/go/src/github.com/golang/protobuf
	url = https://fuchsia.googlesource.com/third_party/golang/protobuf/
[submodule "third_party/go/src/golang.org/x/net"]
	path = third_party/go/src/golang.org/x/net
	url = https://fuchsia.googlesource.com/third_party/golang/net
[submodule "third_party/go/src/google.golang.org/grpc"]
	path = third_party/go/src/google.golang.org/grpc
	url = https://fuchsia.googlesource.com/third_party/grpc/grpc-go
[submodule "third_party/go/src/github.com/golang/glog"]
	path = third_party/go/src/github.com/golang/glog
	url = https://fuchsia.googlesource.com/third_party/golang/glog
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://fuchsia.googlesource.com/third_party/gflags
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://fuchsia.googlesource.com/third_party/glog
[submodule "third_party/go/src/github.com/syndtr/goleveldb"]
	path = third_party/go/src/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb
[submodule "third_party/go/src/github.com/golang/snappy"]
	path = third_party/go/src/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "third_party/go/src/golang.org/x/crypto"]
	path = third_party/go/src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "config/config_parser/src/third_party/github.com/go-yaml/yaml"]
	path = config/config_parser/src/third_party/github.com/go-yaml/yaml
	url = https://fuchsia.googlesource.com/third_party/github.com/go-yaml/yaml
	branch = v2
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://fuchsia.googlesource.com/third_party/protobuf/
	branch = cobalt
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://fuchsia.googlesource.com/third_party/grpc
	branch = cobalt
[submodule "third_party/cares"]
	path = third_party/cares
	url = https://fuchsia.googlesource.com/third_party/c-ares
	branch = cobalt
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://fuchsia.googlesource.com/third_party/googleapis
	branch = cobalt
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://fuchsia.googlesource.com/third_party/zlib
	branch = cobalt
